﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="WebApplication1.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
   <%-- <script type="text/javascript">
        function OpenNewWindow() {
            var Name = document.getElementById('TextBox1').value;
            var Email = document.getElementById('TextBox2').value;
            window.open('WebForm2.aspx?NameOfUser='+Name+'&Email='+Email,'_self',false);
        }

    </script>--%>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        Name
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br />
        <br />
        Email
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Button" />
        <br />
        <br />
        <asp:Button ID="Button3" runat="server" OnClick="Button3_Click" Text="cookie" />
        <br />
        <br />
        <asp:Button ID="Button4" runat="server" OnClick="Button4_Click" Text="Session State" />
        <br />
        <br />
&nbsp;<input id="Button1" onclick="OpenNewWindow()" type="button" value="button Window.open method" /></div>
    </form>
</body>
</html>
